[submodule "lexiwebdb/api"]
	path = lexiwebdb/api
	url = https://github.com/ChaseKolozsy/LexiWebDB_API.git
[submodule "lexiwebdb/client"]
	path = lexiwebdb/client
	url = https://github.com/ChaseKolozsy/LexiWebDB_Client.git
[submodule "stanza/api"]
	path = stanza/api
	url = https://github.com/ChaseKolozsy/StanzaAPI.git
[submodule "stanza/client"]
	path = stanza/client
	url = https://github.com/ChaseKolozsy/StanzaClient.git
